@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

html {
  position: relative;
}

:root {
  --ifm-navbar-shadow: none;
}

body {
  --landing-page-download-section-height: 10em;
}

body {
  --background-color-1: rgb(255, 252, 252);
  --background-color-2: rgb(245, 240, 240);

  --fullscreen-background-color: rgb(165, 167, 176);
  --selection-background-color-1: rgb(222, 226, 233);

  --search-highlight-color-1: var(--oc-gray-9);
  --search-highlight-background-color-1: var(--oc-orange-1);
  --search-highlight-background-color-2: var(--oc-orange-5);

  --font-color-1: rgb(85, 95, 100);

  --border-color-1: rgb(220, 221, 226);

  --accent-contrast-color-1: white;
  --accent-color-1: var(--color-blue);

  --input-background-color: var(--background-color-2);

  --scrollbar-thumb-color-1: rgb(242, 242, 242);
  --scrollbar-thumb-color-2: rgb(234, 234, 234);

  --color-blue: rgb(69, 161, 237);
  --color-red: rgb(219, 87, 98);
  --color-yellow: rgb(223, 178, 93);

  --box-shadow-base-color: 0, 0, 100;
  --shadow-color-opacity-light-1: 0.25;
  --shadow-color-opacity-extra-light-1: 0.25;
  --shadow-color-opacity-heavy-1: 0.33;
}

body {
  --ifm-font-family-base: "Plus Jakarta Sans", sans-serif;
  --ifm-heading-font-family: var(--ifm-font-family-base);
  --ifm-heading-font-weight: 800;
  color: rgb(28, 30, 33);
}

.footer__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
